h1 {
    text-align: center;
}
#form-div {
    display: none;
    position: relative;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}
#checkbox {
    height: 12px;
}
#bookCard {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    
}
#bookCard div {
    text-align: center;
    background-color: green;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
form {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}
form input {
    height: 30px;
    width: 250px;
}
#books {
    /* background-color: pink; */
}
#addBook {
    text-align: center;
}
#overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top:0; 
    left:0;
    bottom:0; 
    right:0;
    background-color:rgba(0,0,0,0.5);   
}
